body {
padding: 50px 100px;
margin: 0;
font-family: Tahoma, Geneva, sans-serif;
}

td, th {
    border: 1px solid #308830;
    padding: 0.5rem;
}

h4 {
    font-size: 15px;
}

table {
    border-collapse: collapse;
}

#a {
    color: #308830;
}

#legend {
    color: #308830;
    float: none;
    padding: 5px 30px 5px 30px;
}

#left {
    float: left;
    padding: 5px 30px 5px 5px;
}
#right {
    float: right;
    padding: 5px 30px 5px 5px;
}

#request {
    padding: 5px 30px 5px 30px;
}

#header {
height: 350px;
background-color: #FFFFFF;
    color: #308830;
}

#menu {
height: 40px;
margin-top: 5px;
    color: #308830;
    border: 3px solid #308830;
}
#menu ul {
margin: 0;
padding: 0;
}
#menu li {
list-style: none;
float: left;
background: url(images/menu_border.png) right no-repeat;
}
#menu a {
float: left;
height: 20px;
padding: 10px;
    color: #308830;
    background-color: White;
font-size: 15px;
font-weight: bold;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}
#menu a:hover {
    color: Black;
background: url(images/menu_border.png);
}

#playlistSongs {
    font-size: 15px;
}

#footer {
height: 40px;
color: #308830;
font-size: 11px;
background-color: #FFFFFF;
clear: both;
}
#footer a {
color: #000000;
}
#footer a:hover {
color: #4040A0;
}
#footer_left {
float: left;
padding: 13px 0 0 30px;
}
#footer_right {
float: right;
padding: 13px 30px 0 0;
}

td, th, footer, header, menu, main {
    border: 1px solid #308830;
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
}